@model ManageInventory.DTO.BookDetailDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Book Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorialName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEditorialNavigation.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
