@*@model ManageInventory.Models.Book*@
@model ManageInventory.DTO.BookDetailDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Book Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEditorial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEditorial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditorialName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditorialName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit Book" asp-route-id="@Model?.Isbn" class="btn btn-primary">Edit</a> |*@
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
