@model IEnumerable<ManageInventory.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory List</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Create New Book</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPages)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sinopsis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberPages)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Details" asp-route-id="@item.Isbn" class="btn btn-sm btn-warning">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Isbn" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Isbn" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
